* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
a {
	color: #fafafa;
	text-decoration: none;
}
header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}
.header-box {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}
.header-logo {
	width: 150px;
	height: 100%;
	float: left;
}
.header-menu {
	text-align: center;
	float: right;
	margin: 23px 0;
}
.header-menu-item {
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	font-size: 16px;
	color: #fafafa;
}
main {
	width: 100%;
}
.main-visual {
	height: 650px;
	padding-top: 200px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.main-visual-headline {
	font-size: 64px;
	color: #fafafa;
	margin-bottom: 10px;
}
.main-visual-text {
	font-size: 20px;
	color: #fafafa;
}
.portfolio {
	background-color: #eceff1;
}
.portfolio-box {
	width: 920px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}
.portfolio-headline {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.border {
	width: 70px;
	height: 3px;
	background-color: #ec715f;
	margin: 0 auto;
}
.portfolio-text {
	margin: 30px 0;
	font-size: 16px;
	color: #000000;
}
.portfolio-image {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
	list-style: none;
}
.portfolio-image:nth-child(1) {
	background-image: url(img/sketch.jpg);
	margin-bottom: 10px;
}
.portfolio-image:nth-child(2) {
	background-image: url(img/websuku.png);
	margin: 0 10px 10px 10px;
}
.portfolio-image:nth-child(3) {
	background-image: url(img/write.jpg);
	margin-bottom: 10px;
}
.portfolio-image:nth-child(5) {
	background-image: url(img/webcamp.png);
}
.portfolio-image:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
	margin-left: 10px;
	margin-right: 10px;
}
.portfolio-image:nth-child(7) {
	background-image: url(img/talk.jpg);
}
.feature-box {
	width: 980px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}
.feature-headline {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.feature-text {
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}
.feature-strength {
	width: 320px;
	list-style: none;
	float: left;
}
.feature-strength:nth-child(2) {
	margin: 0 10px;
}
.strength-icon {
	font-size: 60px;
}
.strength-headline {
	font-size: 20px;
	color: #000000;
	margin: 10px 0;
}
.strength-text {
	font-size: 16px;
	color: #000000;
}
.profile {
	background-color: #eceff1;
}
.profile-box {
	width: 1024px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}
.profile-headline {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.profile-text {
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}
.profile-subbox{
	width: 512px;
	float: left;
	list-style: none;
}
.profile-subbox:nth-child(1) {
	text-align: center;
}
.profile-subbox:nth-child(2) {
	text-align: left;
}
.profile-image{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.myname {
	margin-bottom: 20px;
}
.myname-headline {
	font-size: 20px;
	margin-bottom: 5px;
}
.myname-text {
	font-size: 16px;
	color: #000000;
}
.myskills-headline {
	font-size: 20px;
	margin-bottom: 5px;
}
.myskills-text {
	font-size: 16px;
	color: #000000;
}
.contact-box {
	width: 800px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}
.contact-headline {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.contact-text {
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}
.contact-subbox{
	width: 400px;
	float: left;
	list-style: none;
}
.item-headline {
	font-size: 20px;
	margin-bottom: 5px;
}
.mail-text {
	margin-bottom: 20px;
}
.sns-box{
	width: 200px;
	margin: 0 auto;
}
.sns {
	text-align: left;
}
.sns-icon {
	font-size: 50px;
}
.twitter {
	margin: 0 20px 0 20px;
}
footer {
	width: 100%;
	height: 60px;
	padding-top: 20px;
	background-color: #ec715f;
}
.footer-text {
	font-size: 16px;
	color: #fafafa;
	text-align: center;
}